/* Write your code here. */
* {
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.bgContainer {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 600;
}

@media (max-width: 767px) {
  .imgCard {
    width: 150;
    height: 150px;
  }
  
}

@media (min-width: 768px) {
  
  .imgCard {
    width: 300px;
    height: 300px;
  }
  .heading {
    font-size: 60px;
  }
}
